<script type="text/javascript">
  KlaviyoSubscribe.attachModalSignUp({
    list: 'J3xqsT',
    delay_seconds: 15,
    hide_form_on_success: true,
    content: {
        clazz: ' klaviyo_modal_J3xqsT',
        header: "Interested in our Newsletter?",
        subheader: "Sign up and get 20% off!",
        button: "Subscribe",
      	success: "Thanks! Check your email for a confirmation.",
        styles: '.klaviyo_modal.klaviyo_modal_J3xqsT {  font-family: "Helvetica Neue", Arial}.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_header {  color:#222;}.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_subheader {  color:#222;}.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_submit_button,.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_submit_button span {  background-color:#985e6d;  background-image: none;   border-radius: 2px;}.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_submit_button:hover,.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_submit_button span:hover {  background-color:#985e6d;  background-image: none; }.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_inner,.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_fieldset .klaviyo_field_group input[type=text],.klaviyo_modal.klaviyo_modal_J3xqsT .klaviyo_fieldset .klaviyo_field_group input[type=email] {  border-radius: 2px;}'
    }
});
</script>
<!-- <div class="klaviyo_modal" id="k_id_modal" style="display:none;">
   <div class="klaviyo_inner">
   <a href="#" class="klaviyo_close_modal klaviyo_header_close">×</a>
   <form action="//manage.kmail-lists.com/subscriptions/subscribe" method="POST" novalidate="novalidate" class="klaviyo_subscription_form">
     <input type="hidden" name="g" value="J3xqsT">
      <div class="klaviyo_fieldset">
        <img style="display:block;margin:0 auto;margin-bottom:8px" src="https://cdn.shopify.com/s/files/1/1057/2060/t/2/assets/logo.png?14435604036577717484" alt="Thank you for signing up">
        <p class="klaviyo_header">Interested in our Newsletter?</p>
        <p class="klaviyo_subheader">Stay in the know with news and promotions.</p>
      </div>
      <div class="klaviyo_fieldset">
      <div class="klaviyo_field_group">
        <label for="k_id_modal_$email">Email Address</label>
        <input type="email" id="k_id_modal_$email" name="email"></div>
      </div> 
      <div class="klaviyo_fine_print"></div>
      <div class="klaviyo_form_actions">
          <button type="submit" class="klaviyo_submit_button">
          <span>Subscribe</span>
          </button>
      </div>
      <div class="klaviyo_below_submit" ></div>
   </form>
   <div class="error_message" ></div>
   <div class="success_message" ></div>
   </div>
</div>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script>
  KlaviyoSubscribe.attachToModalForm('#k_id_modal', {
   	delay_seconds: 0.5
  });
</script> -->