<ul id="tab-returns">
  <li>
    <span>We want our Indira Family members to be happy with their activewear.
    Check our return policy <a href="https://www.indiraactive.com/pages/returns">here</a>, 
    submit a return request <a href="https://www.indiraactive.com/pages/return-exchange-request">here</a>, 
    or chat with us if you have concerns.</span>
  </li>
</ul>