<ul id="tab-shipping"> 
  <li>
    <strong style="text-align: left;">ON US ❤️</strong><span style="text-align: right;"> - 2 items or more<br /></span>
  </li>
  <li>
    <strong style="text-align: left;">Standard Shipping</strong><span style="text-align: right;"> - $5.99<br /></span>
  </li>
  <li>
    <span>EST. 12-21 days (depending on location)</span>
  </li>
</ul>