<ul id="tab-shipping">
  <li>USA
    <ul>
    <li><strong style="text-align: left;">2 items or more</strong><span style="text-align: right;"> - ON US ❤️<br /></span></li>
    <li><strong style="text-align: left;">Standard Shipping</strong><span style="text-align: right;"> - $5.99<br /></span></li>
    <li><span>EST. 5-18 days.</span></li>
    </ul>
  </li>
  <li>Canada
    <ul>
    <li><strong style="text-align: left;">Spend $150 or more</strong><span style="text-align: right;"> - ON US ❤️<br /></span></li>
    <li><strong style="text-align: left;">Spend $75 or more</strong><span style="text-align: right;"> - $10<br /></span></li>
    <li><strong style="text-align: left;">Standard Shipping</strong><span style="text-align: right;"> - $20<br /></span></li>
    <li><span>EST. 11-24 days.</span></li>
    </ul>
  <li>International
    <ul>
    <li><strong style="text-align: left;">Spend $250 or more</strong><span style="text-align: right;"> - ON US ❤️<br /></span></li>
    <li><strong style="text-align: left;">Spend $150 or more</strong><span style="text-align: right;"> - $25<br /></span></li>
    <li><strong style="text-align: left;">Standard Shipping</strong><span style="text-align: right;"> - Varies by country<br /></span></li>
    <li><span>EST. 11-24 days.</span></li>
    </ul>
  </li>
  <li>All items ship from Orlando, Florida 😎</li>
</ul>
