<ul id="tab-shipping">
<strong>USA</strong>
  <ul>
  <li><span style="text-align: left;">2 items or more</span><span style="text-align: right;"> - ON US ❤️<br /></span></li>
  <li><span style="text-align: left;">Standard Shipping</span><span style="text-align: right;"> - $5.99<br /></span></li>
  <li><span>EST. 5-18 days.</span></li>
  </ul>
<strong>Canada</strong>
  <ul>
  <li><span style="text-align: left;">Spend $150 or more</span><span style="text-align: right;"> - ON US ❤️<br /></span></li>
  <li><span style="text-align: left;">Spend $75 or more</span><span style="text-align: right;"> - $10<br /></span></li>
  <li><span style="text-align: left;">Standard Shipping</span><span style="text-align: right;"> - $20<br /></span></li>
  <li><span>EST. 11-24 days.</span></li>
  </ul>
<strong>International</strong>
  <ul>
  <li><span style="text-align: left;">Spend $250 or more</span><span style="text-align: right;"> - ON US ❤️<br /></span></li>
  <li><span style="text-align: left;">Spend $150 or more</span><span style="text-align: right;"> - $25<br /></span></li>
  <li><span style="text-align: left;">Standard Shipping</span><span style="text-align: right;"> - Varies by country<br /></span></li>
  <li><span>EST. 11-24 days.</span></li>
  </ul>
  <li>All items ship from Orlando, Florida 😎</li>
</ul>