.swatch-element {
  border-color: #d03b77;
}

.product-quantity-box .product-plus {
  background-color: #ce3e77;
  color: #ffffff;
}

.product-quantity-box .product-minus {
  background-color: #ce3e77;
  color: #ffffff;
}
