.tg-wrap {
border-left: 1px solid #985e6d; 
}

.tg {
border-collapse: collapse;
border-spacing: 0;
border-color: #985e6d;
margin: 0px auto;
table-layout: fixed;
border-left: 1px solid #985e6d;
width: 100%;
}

.tg td {
font-family: Arial, sans-serif;
font-size: 12px;
padding: 4px 6px;
border-style: solid;
border-width: 1px;
overflow: hidden;
word-break: normal;
border-color: #985e6d;
color: #669;
background-color: #e8edff;
}

.tg th {
font-family: Arial, sans-serif;
font-size: 12px;
font-weight: normal;
padding: 4px 6px;
border-style: solid;
border-width: 1px;
overflow: hidden;
word-break: normal;
border-color: #985e6d;
color: #039;
background-color: #b9c9fe;
}

.tg .tg-tski {
font-size: 11px;
font-family: Tahoma, Geneva, sans-serif !important;
background-color: #ffffff;
color: #000000;
text-align: center;
vertical-align: top;
max-width:100%;
white-space: break-word;
}

.tg .tg-5py8 {
font-weight: bold;
font-family: Tahoma, Geneva, sans-serif !important;
background-color: #ffffff;
color: #000000;
text-align: center;
vertical-align: top;
max-width:100%;
white-space:nowrap;
}

.tg .tg-v1lu {
font-weight: bold;
font-family: Tahoma, Geneva, sans-serif !important;
background-color: #ffffff;
color: #000000;
text-align: left;
vertical-align: top;
white-space:nowrap;
}